/* global styles */
.text{
	color: #727272;
}

.marginb-0{
	margin-bottom: 0;
}

.copy-title{
	margin: 0;
	font-size: 4em;
	/* font-family: 'Open Sans' sans-serif; */
	color: #fff;
}

.copy-text{
 margin: 0;
 font-size: 2em;
 color: #fff;
}

.copy-title2{
	margin: 0;
	font-size: 2.5em;
	color: #727272;
}

.copy-text2{
	margin: 0;
	font-size: 1.8em;
	color: #727272;
}

.copy-container{
	border-left: 5px solid #ffb300;
}

.bold{
	font-weight: bold;
}

.cta-color{
	color: #ffb300;
}

/* header styles */
nav{
	background: #fff;
}

.img-logo{
  width: 150px;
}

.menu-link{
	padding: 0 25px;
	color: #000;
}

.sidenav-trigger{
	font-size: 2em;
	color: #000;
}


/* banner styles */
.banner{
	height: 550px;
}

/* about us styles */
.about-us{
	height: 450px;
}


/* services styles */
.services{
	background: #F4F4F4;
}

.services .text-container{
	margin-top: 4em;
}

.services .row{
	margin-top: 4em;
}

.cta-action{
	height: 400px;
	background: url(../img/construction2.jpeg) center/cover;
}

/* gallery styles */
.gallery-item{
	width: 300px;
}

/* footer styles */
.page-footer{
	background: #282D31;
}